
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.absolute {
  position: absolute;
}
.w-90 {
  width: 360px;
}
.bottom-8 {
  bottom: 32px;
}
.left-4 {
  left: 16px;
}
.flex {
  display: flex
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.border {
  border-width: 1px;
}
.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.rounded-full {
  border-radius: 9999px;
}
.p-1 {
  padding: 4px
}
.p-2 {
  padding: 8px;
}
.mt-4 {
  margin-top: 16px
}
.z-1000 {
  z-index: 1000;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.font-600 {
  font-weight: 600;
}
.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-20 {
  font-size: 20px;
}
.bg-white {
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
