/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h2 {
  margin: 0;
}

.mymanager-widget-container {
  position: absolute;
  width: 360px;
  bottom: 32px;
  left: 15px;
  background-color: white
}
.mymanager-widget-body {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 9999px;
  gap: 12px;
  padding: 8px;
  margin-top: 16px;
  z-index: 1000;
}

.mymanager-rounded-full {
  border-radius: 9999px;
}

.mymanager-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mymanager-text-content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 8px;
}

.mymanager-title {
  font-size: 20px;
  font-weight: 600;
}

.mymanager-event-content {
  font-size: 14px;
  font-weight: 600;
}

.mymanager-company {
  font-size: 12px;
  font-weight: 600;
}